<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="titulos">Pagina 1 </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo necessitatibus eos, porro vitae quasi voluptate aut itaque voluptatem obcaecati ex labore! Cumque et deserunt similique ad vero doloribus quos ut.</p>
    <ion-input type="text" label="Nombre" placeholder="ingresa tu nombre "></ion-input>
    <ion-button  expand="block" fill="clear" shape="round">
      Enviar
    </ion-button>
  </ion-content>
</ion-app>