<ion-app>
  <app-header [titulo_header]="'Login'"></app-header>
  <ion-content>
    <ion-input [(ngModel)]="usuario" type="text" label="Usuario" placeholder="Ingresa el usuario "></ion-input>
    <ion-input [(ngModel)]="password" type="password" label="contraseña" placeholder="Escribe tu contraseña"></ion-input>
    <p class="error"> {{mensaje}} </p>
    <ion-button (click)="iniciar_sesion()" expand="block" fill="clear" shape="round">
      Enviar
    </ion-button>
    <a href="/registro" style="align-items: center;">¿ No tienes cuenta aun ? Registrate</a>

  </ion-content>
</ion-app>